/**
 * Created by PhpStorm.
 * User: bagy
 * Date: 4.5.2017.
 * Time: 23:47
 */

/**Page*/
html {
    height: 100%;
}

body {
    margin: 0px;
    width: 100%;
}


.verticalAlignHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.page{
    text-align: center;
    margin-top: 110px;
    margin-bottom: 70px;
}
.page-background{
    background-repeat: round;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

/*Header*/

header {
    padding-left: 10px;
    padding-right: 10px;
    /* left: 0; */
    top: 0;
    min-width: 100%;
    width: 100%;
    text-align: left;
    color: white;
    position: fixed;
    margin-bottom: auto;
    z-index: 2;
}

header > * {
    display: inline-block;
}

/*Footer*/

footer {
    /*position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;*/

    left: 0;
    bottom: 0;
    min-width: 100%;
    width: 100%;
    text-align: center;
    position: fixed;
}

footer a {
    text-decoration: none;
    color: white;
    margin-left: 4px;
    margin-right: 4px;
}
header{
    min-height: 40px;

}

/**Menu*/
nav.menu>ul{
    list-style-type: none;
    padding-left: 2px;
    padding-right: 2px;
}

nav.menu>ul>li {
    /* color: white; */
    padding: 11px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 11px;


    margin-bottom: 3px;
}
nav.menu>ul>li>a {
    text-decoration: none;
}
.menu-span{
    width: 3%;
}


@media screen and (min-width: 850px) {
    div.page{
        min-width: 50%;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    nav.menu>ul>li{
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0px;

        margin-bottom: 2px;
    }
}


@media screen and (max-width: 480px) {
    footer a {
        display: block;
    }
    .page-background{
        background-repeat: no-repeat;
        background-size: auto;
    }
}


/**Errors*/
.input-error {
    top: 0px;
    right: 0px;
}

.err-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 55%;
    border-bottom: solid 1px red;
    border-right: solid 1px red;
    border-left: solid 1px red;
}

div.err-wrapper > * {
    width: 100%;
    display: block;
}

.input-error-icon {
    display: inline;
    vertical-align: top;
}

.input-error {
    border-bottom: 1px solid #D04C00;
    text-align: center;
    color: white;
    background-color: black;
}
.content{
    rgba(55, 31, 101, 0.33)
    opacity: 0.65;
    min-height: 300px;
    border-radius: 6px;
    margin-top: 20px;
}
.useless-link{
    text-decoration: none;
    color: black;
}
.form-box{
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.olive{

}
.purple-rain{

}
.form-inline-element-wrapper{
    width: 98%;
    text-align: start;
    display: inline-block;
}
.form-inline-element-wrapper>*{
    display: inline-block;
}
.form-inline-element-wrapper>input[type="text"],
.form-inline-element-wrapper>input[type="password"],
.form-inline-element-wrapper>input[type="date"],
.form-inline-element-wrapper>input[type="reset"],
.form-inline-element-wrapper>input[type="email"],
.form-inline-element-wrapper>input[type="time"]{
    min-width: 50%;
    max-width: 70%;
    width: 55%;
    float: right;
}
.form-inline-element-wrapper>label{
    width: auto;
    font-size: large;
}
input[type="submit"]{
    min-height: 30px;
    min-width: 50px;
    font-size: large;
}
form.box{
    background-color: rgba(82,82,110,0.73);
    border-radius: 6px;
    margin-top: 40px;
    color: white;
}
select{
    font-size: larger;
}
.err-box{
    border-left: 2px solid #D04C00;
    border-right: 2px solid #D04C00;
    width: 54%;
    display: block;
    float: right;
    margin-right: 0.5%;
    margin-top: 1px;
}
.input-error-icon{
    display: inline;
    vertical-align: top;
    float: left;
}
.input-error{
    border-bottom: 2px solid #D04C00;
    text-align: center;
    color: yellow;
    background-color: grey;

}
.input-error>p{
    margin: 0px;
    padding: 0px;
}
.has-error{
    background: #730000;
    color: #D8D8D8;
    border: 1px solid #FFE600;
}
.error{
    color: #FFAB00;
    text-align: center;
    display: block;
    padding-top: 3px;
}

div.form-inline-element-wrapper.has-error{
    padding: 3px 5px;
    margin: 0px;
}
input{
    padding-left: 3px;
}
.hidden{
    display: none;
}
