/**
 * Created by PhpStorm.
 * User: bagy
 * Date: 4.5.2017.
 * Time: 23:47
 */

/**Page*/

body {
    margin: 0px;
    padding: 0px;
    width: 99%;
    height: 100%;
}


.verticalAlignHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.page{
    text-align: center;
    margin-bottom: 7%;
    padding-bottom: 2%;
}
.page-background{
    background-repeat: round;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

/*Header*/

header {
    padding-left: 10px;
    padding-right: 10px;
    /* left: 0; */
    top: 0;
    min-width: 100%;
    width: 100%;
    position: relative;
    text-align: left;
    color: white;
    margin-bottom: auto;
    z-index: 2;
    /*display: none;*/
    height: 9%;
}

header > * {
    display: inline-block;
}

h1{
    height: auto;
    margin: 1% 10px;
    font-size: xx-large;
}

/**Menu*/
nav.menu>ul{
    list-style-type: none;
    padding-left: 2px;
    padding-right: 2px;
}

nav.menu>ul>li {
    /* color: white; */
    padding: 11px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 11px;

    font-size: larger;
    margin-bottom: 3px;
}
nav.menu>ul>li>a {
    text-decoration: none;
}
.menu-span{
    width: 3%;
}


@media screen and (min-width: 700px) {
    div.page{
        min-width: 50%;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    nav.menu>ul>li{
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 480px) {
    .page-background{
        background-repeat: no-repeat;
        background-size: auto;
    }
}

/**Footer */
/*
footer{
    background-color: rgba(132, 124, 124, 0.81);
    position: absolute;
    border-radius: 50%;
    margin-left: -40px;
    width: 6%;
    font-size: 0;
    line-height: 0;
    right: 3%;
    bottom: 3%;
    text-indent: -4000px;
    /* opacity: 0.85; *//*
    box-shadow: 2px 3px 11px 5px #1d1b1b;
//}
*/

/**Errors*/
.input-error {
    top: 0px;
    right: 0px;
}

.err-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 55%;
    border-bottom: solid 1px red;
    border-right: solid 1px red;
    border-left: solid 1px red;
}

div.err-wrapper > * {
    width: 100%;
    display: block;
}

.input-error-icon {
    display: inline;
    vertical-align: top;
}

.input-error {
    border-bottom: 1px solid #D04C00;
    text-align: center;
    color: white;
    background-color: black;
}
.content{
    min-height: 300px;
    border-radius: 6px;
    margin-top: 20px;
}
.form-box{
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.form-inline-element-wrapper{
    width: 98%;
    text-align: start;
    display: inline-block;
}
.form-inline-element-wrapper>*{
    display: inline-block;
}
.form-inline-element-wrapper>input[type="text"],
.form-inline-element-wrapper>input[type="password"],
.form-inline-element-wrapper>input[type="date"],
.form-inline-element-wrapper>input[type="reset"],
.form-inline-element-wrapper>input[type="email"],
.form-inline-element-wrapper>input[type="time"]{
    min-width: 50%;
    max-width: 70%;
    width: 55%;
    float: right;
}
.form-inline-element-wrapper>label{
    width: auto;
    font-size: large;
}
input[type="submit"]{
    min-height: 30px;
    min-width: 50px;
    font-size: large;
}
form.box{
    background-color: rgba(82,82,110,0.73);
    border-radius: 6px;
    margin-top: 40px;
    color: white;
}
select{
    font-size: larger;
}
.input-error-icon{
    display: inline;
    vertical-align: top;
    float: left;
}
.input-error{
    border-bottom: 2px solid #D04C00;
    text-align: center;
    color: yellow;
    background-color: grey;

}
.input-error>p{
    margin: 0px;
    padding: 0px;
}
.has-error{
    background: #730000;
    color: #D8D8D8;
    border: 1px solid #FFE600;
}
.error{
    color: #FFAB00;
    text-align: center;
    display: block;
    padding-top: 3px;
}

input{
    padding-left: 3px;
}
.hidden{
    display: none;
}

#error-page.err-box{
    background-color: rgba(129, 101, 154, 0.79);
    border: 2px solid red;
    margin-top: 10%;
    width: 70%;
    display: inline-block;
}
#terms-of-cookie{
    position: fixed;
    /* bottom: 7px; */
    top: 2%;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    height: 40px;
    text-align: center;
    z-index: 3;
    background-color: rgba(129, 127, 160, 0.84);
    border-radius: 7px;
    box-shadow: 2px 3px 7px 1px #545454;
}
#terms-of-cookie>*{
    display: inline-block;
    margin: 8px 10px 4px 10px;
    color: rgba(255, 239, 0, 0.78);
}
#terms-of-cookie>p{
    margin-right: 4%;
    font-style: oblique;
    font-family: monospace;
    font-size: 14px;
}
#terms-of-cookie>input{
    margin-left: 6%;
    width: 15%;
    border: 2px solid rgba(255, 239, 0,1);
    border-radius: 7px;
    background-color: rgba(60, 58, 58, 0.54);
    padding: 3px;
}
@media screen and (max-width: 600px){
    #terms-of-cookie{
        /* bottom: 2%; */
        background-color: rgba(3, 0, 58, 0.95);
        top: 89%;
        width: 70%;
        margin-right: 14%;
        margin-left: 15%;
    }
    #terms-of-cookie>input{
        background-color: rgba(100, 86, 109, 0.62);
    }
}

form.box{
    border: 2px solid rgba(30, 105, 30, 0.67)
}
.header-links{
    color: white;
    text-decoration: none;
    padding: 7px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 11px;
    vertical-align: middle;
    display: inline-block;

}
.header-links-box{
    float: right;
    height: 100%;
    margin-right: 2%;
    margin-top: 1%;
}
@media screen and (max-width: 410px) {
    .header-links-box{
        display: none;
    }
}
.sort{
    background: lightgrey;
}

.loading{
    position: absolute;
    height: 100px;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    top: 30%;
    left: 37.5%;
    width: 25%;
    right: 30%;
    padding: 6px;
    box-shadow: 2px 4px 18px 9px black;
}

.loading>img{
    margin-top: 25px;
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page{
    overflow: overlay;
}
.notif {
    position: absolute;
    border: 1px solid #5e3b77;
    background-color: #dedbdb;
    bottom: 10%;
    left: 37.5%;
    width: 25%;
    right: 30%;
    padding: 6px;
    border-radius: 40%;
    box-shadow: 2px 4px 18px 9px rgba(58, 57, 57, 0.55);
    text-align: center;
}
.notif>*{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.notif-title>img{
    height: 25px;
    width: 25px;
    float: right;
}
.notif-context{
    min-height: 30px;
    margin-top: 5px;
}
.notif-title{
    border-bottom: 1px solid rgba(144, 98, 146, 0.76);
    padding: 3px;
    width: 50%;
}