.form-inline-element-wrapper{
    width: 94%;
    margin: 0px;
    padding: 3%;
}
#box-remember-me{
    min-width: 50%;
    max-width: 70%;
    width: 55%;
    text-align: end;
}
#box-remember-me>*{
    display: inline-block;

}
input[name="remember-me"]{
    display: inline;
}
@media screen and (max-width: 350px){
    .form-inline-element-wrapper>input[type="text"],.form-inline-element-wrapper>input[type="password"]{
        display: block;
        min-width: 95%;
        max-width: 100%;
        width: 100%;
        min-height: 33px;
    }
    .form-inline-element-wrapper>label{
        display: block;
        width: auto;

    }
    #box-remember-me{
        width: 60%;
        text-align: center;
    }

}