#captcha{
    text-align: center;
}
.form-inline-element-wrapper{
    margin: 0px 8px 12px 4px;
}
#form-registration.box{
    padding: 7px 11px 7px 7px;
    margin-top: 30px;
}
#selectLogInType,#selectGender{
    min-width: 50%;
    max-width: 70%;
    width: 55%;
    float: right;
    color: dimgray;
}
input[type="submit"]{
    color: #413942;
    min-width: 30%;
    border-radius: 17px;
    border: 1px solid #653a3a;
    box-shadow: inset -2px -2px 13px 6px rgba(142, 136, 136, 0.87);
    /* opacity: 0.8; */
    /* z-index: 2; */

}
#selectGender{
    font-size: medium;
}
@media screen and (max-width: 350px){
    .form-inline-element-wrapper>input:not([type="submit"]),#selectGender,#selectLogInType{
        display: inline-block;
        min-width: 95%;
        max-width: 98%;
        width: 98%;
        min-height: 33px;
    }
    .form-inline-element-wrapper>label{
        display: block;
        width: auto;
    }
    div.form-inline-element-wrapper.has-error{
        padding: 3px 3px 3px 1px;
        margin: 2px 4px 4px 2px;
    }
    div.form-inline-element-wrapper.has-error>input:not([type="submit"]),
    div.form-inline-element-wrapper.has-error>select
    {
        width: 95%;
        max-width: 97%;
    }

}
.form-inline-element-wrapper:first-child{
    margin-top: 8px;
}
#boxName.form-inline-element-wrapper.has-error{
    margin-top: 8px;
}
.warning{
    text-align: center;
    font-size: 14px;
    color: #9fc755;
}

div.form-inline-element-wrapper.has-error{
    width: 97%;
    margin: 0px 8px 8px 4px;
    padding: 2px 3px;
}